<!doctype html>
<style>
.container {
  height: 100px;
  width: 300px;
  background-color: #ffd1dc;
  position: relative;
  display: block;
}

button {
  position: relative;
  left: 38%;
  transform: (-38%, 0%);
  margin: 10px;
  height: 30px;
  width: 50px;
 box-shadow: none;
 background-color: #EEEEEE;
}

p {
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
}

.bottom {
  width: 100%;
  text-align: center;
}
</style>
<html>
    <head>
    </head>
    <body class="container">
          <button type="button" id="ball">8 Ball</button>
          <div class="bottom">
          <p id="demo"></p>
        </div>
          <script src="popup.js"></script>
    </body>
</html>
